/*===================== USANDO AS TAGS =====================*/
body {
    background-color: #000000;
    margin: 0%;
    text-align: center;
    
}
header{
    background-color: #231955;
    height: 550px;
    width: auto;
    margin-top: 0%;
}
main{
    height: 900px;
    width: auto;
    background-color: #FFE5B4;
}
footer {
    height: 300px;
    width: auto;
    background-color: #130D33;
}
h1, h2, h3 {
    color: #E8AA42;
    margin: 0%;
    padding-top: 0%;
    /*text-decoration:underline;*/

}
p {
    color: #E8AA42;
    padding-top: 0.5%;
}
menu{
    background-color: #FFE5B4;
    margin: 0%;
    height: 5%;
    width: 100%;
    position: fixed;
    z-index: 10;
    opacity: 0.7;
}
/*===================== USANDO AS CLASSES =====================*/
.paragrafo{
    text-align: center;
    margin: 0%;
    position: relative;
    top: -10%;
}
.menu{
    width: 2.2%;
    position: absolute;
    margin-top: 0.1%;
    cursor: pointer;
    left: 48%;
}
.menucarrinho{
    width: 2.2%;
    position: absolute;
    margin-top: 0.1%;
    cursor: pointer;
    left: 43%;
}
.menuprocurar{
    width: 2.2%;
    position: absolute;
    margin-top: 0.1%;
    cursor: pointer;
    left: 38%; 
}
.menuuser{
    width: 2.2%;
    position: absolute;
    margin-top: 0.1%;
    cursor: pointer;
    left: 58%; 
}
.menuconfig{
    width: 2.2%;
    position: absolute;
    margin-top: 0.1%;
    cursor: pointer;
    left: 53%; 
}
.redessociais{
    position: relative;
}
.GitHub{
    width: 3%;
    position: absolute;
    margin-top: 0%;
    cursor: pointer;
    right: 1%;
    top: 120px;
}
.Linked{
    width: 3%;
    position: absolute;
    margin-top: 0%;
    cursor: pointer;
    right: 1%;
    top: 190px;
}
/*===================== USANDO OS IDs =====================*/
#meu-nome{
    text-align: center;
    margin-top: 0%;
    position: relative;
    top: -10%;
    z-index: 11;
    margin-top: 4%;
}
#Foto-Homen{
    width: 20%;
    position: relative;
  

}
#Astronauta{
    display:inline-block;
    position: relative;
    width: 20%;
    z-index: 5;
    left: 40%;
    bottom: 3%;
}
#nave1 {
    width: 3%;
    position: relative;
    left: 20%;
    top: 30%;
    transform: rotate(260deg);
}
#nave2 {
    width: 3%;
    position: relative;
    left: 80%;
    top: 55%;
    transform: rotate(160deg);
}
#poeira{
    text-align: center;
    position: relative;
    display:inline-block;
    left: 29%;
    top: 0%;
    z-index: 4;
}
#img-poeira{
    width: 20%;
    display: inline-block;
    position: relative;
}
#hr1{
    height: auto;
    width: 7%;
    border-width: 24px;
    border-style: none;
    border-top-style: dotted ;
    border-color: #000000;
    margin: 0%;
    position: absolute;
    margin-top: 0%;
    top: 69%;
}
#centro-div{
    display: flex;
    justify-content: center;
    align-items: center;

}