/*==================== Seção Tags ====================*/
body{
    margin: 0%;
    text-align: center;
    font-family: "Roboto", arial, sans-serif;
    font-style: normal;
}
h1{
    margin: 0 auto 0 auto;
    display: inline-block;
    width: 100%;
    
    
    
}
h1, h2, h3{
    color: #EBAA42;
    margin-top: 6%;
    font-size: 300%;
    font-size: 400%;

    
}
p{
    margin: 0% auto, auto, auto;
    color: #EBAA42;
    font-size: 200%;
    font-size: 150%;

}
hr{
    height: auto;
    width: 7vw;
    border-width: 24px;
    border-style: none;
    border-top-style: dotted;
    border-color: #2e2e2e;
    margin: 0 auto 0 auto;
    position: absolute;
    left: 47.5%;
    margin-top: 1%;

}
div{
    
    
   
}
/*==================== Seção Classes ====================*/

/*======== Menu ========*/

menu{
    background-color: #FFE5B4;
    width: 100vw;
    height: 6vh;
    margin: 0%;
    z-index: 1;
    position: fixed;
    opacity: 60%;
}
.iconHome{
    width: 2.5vw;
    position: absolute;
    display: inline-block;
    margin-top: 0.3%;
    right: 7%;
}
.iconUser{
    width: 2.5vw;
    position: absolute;
    display: inline-block;
    margin-top: 0.3%;
    right: 3%;
}
/*======== Header ========*/

.top-container{
    background-color: #231955;
    height: 80vh;
    position: relative;
}
.nave1{
    width: 3%;
    display: inline-block;
    position: absolute;
    left: 17%;
    top: 52%;
    rotate: -100deg;
}
.nave2{
    width: 3%;
    display: inline-block;
    position: absolute;
    right: 17%;
    bottom: 72%;
    rotate: 370deg;
}
.astronauta{
    width: 20%;
    left: 40%;
    margin-top: 2%;
    position: absolute;
    display: inline-block;
}

/*======== Main ========*/

.mid-container{
    background-color: #FFE5B4;
    position: relative;
    padding-bottom: 100vw;
}
.wellinton{
    position: absolute;
    display: inline-block;
    width: 20%;
    top: 16%;
    left: 2%;
    cursor: pointer;
}
.discord{
    position: absolute;
    right: 0%;
}
.Sobre-Mim{

    position: absolute;
    right: 50%;
    width: auto;
    height: auto;
    padding-top: 0%;
}

.borda{
    background-color: #231955;
    width: 70vw;
    height: 100vh;
    display: inline-block;
    margin: 0%;
    padding: 0%;
    left: 0%;
    top: 2%;
    position: absolute;
    border-radius: 10vh;
}
.Sobre-Mim-P{
    position: absolute;
    margin: 0%;
    margin-top: 7%;
    height: 300px;
    width: auto;
}
.gif-work{
    position: absolute;
    display: inline-block;
    bottom: 0%;
    right: 0%;
}

.borda2{
    background-color: #231955;
    width: 80%;
    height: 400px;
    display: inline-block;
    margin: 0%;
    padding: 0%;
    right: 0%;
    top: 20%;
    position: absolute;
    border-radius: 50px;
    
}
.Sobre-Mim2{
    position: absolute;
    left: 50%;
    width: auto;
    height: auto;
    padding-top: 0%;

}
.Sobre-Mim-P2{
    position: absolute;
    margin: 0%;
    margin-top: 7%;
    height: 300px;
    width: auto; 
}
.gif-work2{
    position: absolute;
    display: inline-block;
    bottom: 0%;
    left: 0%;
}
.wellinton2{
    position: absolute;
    display: inline-block;
    width: 20%;
    top: 16%;
    right: 2%;
    cursor: pointer;
}
.hr2{
    top: 32%;
}
.habilidades{
    display: inline-block;
    position: absolute;
    top: 50%;
    
}
.habilidades-texto{
    display: inline-block;
    width: 100%;
    position: relative;
    top: 49%;
}
.gif{
    position: relative;
    top: 40%;
    width: 28vw;
    height: auto;
}
/*======== Footer ========*/

.bottom-container{
    background-color: #130d33;
    position: relative;
    display: inline-block;
    padding-bottom: 5%;
}

/*==================== Seção Ids ====================*/
#pagina{
    background-color: white;
    width: 100vw;
    height: 10vh;
    position: absolute;
    display: block;
}
#habilidades-img{
    width: 30%;
    left: 0%;
    margin-top: 2%;
    position: absolute;
}
#habilidades{
    position: absolute;
    display: inline-block;
    top: 100vh;
}