/* Google fontes */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*================== Sessão Tags Globais ==================*/
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #051d35;
}
/*================== Header ==================*/
.gatinho {
    width: 60%;
    padding-bottom: 1%;
    margin-top: 5%;
}
.button_img {
    width: auto;
    height: 2rem;
    padding: 0%;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    
}
.nav-item {
    margin-left: 0%;
}
@media (max-width: 900px) {
    .nav-item {
        margin-left: 0%;
        margin-top: 4%;
    }
}
.nav-item:hover {
    opacity: 70%;
}
/*================== Main_content1 ==================*/
.main_content_grid {
    padding: 7%/*top e bottom*/ 15%/*left e right */;
}
.main_content_grid h4 {
    padding-top: 6%;
    font-weight: 530;
    font-size: medium;
}
.main_content_grid   p {
    font-size: 1.2rem;
    font-weight: 200;
}
.main_content_img {
    width: 15%;
}
.main_content_img:hover{
    color: #051d35;
}
/*================== Header ==================*/
#title {
    background-color: #051d35;
    color: white;
}
#header_menu {
    font-weight: 200;
    font-size: 1.3rem;
}
#menuzin {
    padding: 0 10% 35px 7%;
    
}
#header_texto {
    font-weight: 600;
    line-height: 3.6rem;
    font-family: "Montserrat", sans-serif;
}
/*================== Main content1 ==================*/
#main_content_1 {
    padding-right: 8%;
    padding-left: 8%;
}
/*================== Main carrosel ==================*/
#testemunhas {
    padding: 7.6%/*top e bottom*/ 15%/*left e right */;
    background-color: #Ef8172;
    color: white;
}
.main_carrosel_text {
    font-family: "Montserrat-bold", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}
#testemunhas img {
    border-radius: 100%;
    width: 10rem;
    margin: 18px;
}
#colaboradores {
    background-color: #Ef8172;
    text-align: center;
}
#carouselExampleAutoplaying h3 {
    font-weight: 300;
    margin-top: 20px;
}
/*================== Main adoção ==================*/
#main_adoção {
    padding: 40px 17%;
    background-color: white;
}
/*================== Main cta ==================*/
#cta{
    padding: 7% 17%;
    background-color: #FB4C68;
}
@media (max-width: 900px) {
    #cta h3 {
        font-size: 22px;
    }
}
#cta h3 {
    color: white;
}
/*================== Footer ==================*/
#footer{
    padding: 5% 17%;
}
#footer p {
    font-weight: 300;
}
#footer_icon {
    color: #1E3050;
}
#footer_icon:hover {
    color: #FF8787;
    transform: scale(1.08);
}